<div class="site-content home">
  <main class="content-area">
    <div class="padding-25"></div>
    <% page.posts.each(function(item, itemIndex){ %>
        <div class="even">
          <%- partial('_partial/article-index', {item: item}) %>
        </div> 
    <% }); %>

    <%- partial('_partial/pagination') %>
  </main>
</div>