<!-- 首屏 -->
<div class="main-section mdui-color-theme">
  <div class="mdui-container main-container">
    <h2>
      iTypen <span class="mdui-text-color-theme-accent">C</span>rush <span
        class="mdui-text-color-theme-accent">P</span>ress
    </h2>

    <h4>与创造者在一起</h4>


  </div>
</div>
<div class="item-header padding-70">且欢邮报</div>
<div class="case-header">可持续咕咕中</div>

<div class="item-header padding-70">且欢版面</div>
<!-- 第二屏，优势 -->
<div class="adv-section">
  <div class="mdui-container">
    <div class="mdui-row-md-3 mdui-row-sm-2 mdui-row-xs-1">
      <div class="mdui-col">
        <div class="adv-item">
          <i class="mdui-icon iconfont icon-color mdui-text-color-theme adv-item-icon">&#xe656;</i>
          <div class="adv-item-detail">
            <div class="adv-item-detail-title">杂志化版面</div>
            <div class="adv-item-detail-desc">封面设计和版面设计向杂志看齐。</div>
          </div>
        </div>
      </div>
      <div class="mdui-col">
        <div class="adv-item">
          <i class="mdui-icon iconfont icon-responsive mdui-text-color-theme adv-item-icon">&#xe652;</i>
          <div class="adv-item-detail">
            <div class="adv-item-detail-title">多格式交付</div>
            <div class="adv-item-detail-desc">同时交付 PDF 和图片格式，方便您在各种社交网络发布。</div>
          </div>
        </div>
      </div>
      <div class="mdui-col">
        <div class="adv-item">
          <i class="mdui-icon iconfont icon-responsive mdui-text-color-theme adv-item-icon">&#xe600;</i>
          <div class="adv-item-detail">
            <div class="adv-item-detail-title">微信公众号推文</div>
            <div class="adv-item-detail-desc">不仅提供 PDF 文档，我们还会帮助您排版微信公众号。</div>
          </div>
        </div>
      </div>
      <div class="mdui-col">
        <div class="adv-item">
          <i class="mdui-icon iconfont icon-responsive mdui-text-color-theme adv-item-icon">&#xe601;</i>
          <div class="adv-item-detail">
            <div class="adv-item-detail-title">提供发布页面</div>
            <div class="adv-item-detail-desc">根据您的需要，可以在文件中心上传您的文稿以供读者浏览。</div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-btn-wrapper mdui-text-center">
      <a href="/case/" class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme">查看排版案例</a>
    </div>
  </div>
</div>

<!-- 第四屏 - 案例 -->
<div class="case-section">
  <div class="mdui-container">
    <div class="case-header">我们已经排版了多个组织的数十份文件及通告</div>
    <div class="mdui-row-md-3 mdui-row-sm-2">
      <a href="https://www.lzmun.com" target="_blank" rel="nofollow" class="mdui-col case-item mdui-ripple">
        <img class="case-item-logo" src="https://imgur.itypen.com/picgo/LZMUN_LOGO_Color">
        <div class="case-item-detail">
          <div class="case-item-detail-title">柳州渊文模拟联合国大会</div>
          <div class="case-item-detail-desc">柳州高中模拟联合国协会主办</div>
        </div>
      </a>
      <a href="https://tehsmun.com/" target="_blank" rel="nofollow" class="mdui-col case-item mdui-ripple">
        <img class="case-item-logo"
          src="https://tehsmun-storage.oss-cn-beijing.aliyuncs.com/tehsmun/2019/10/cropped-united-nations-1184119-1.jpg@!full">
        <div class="case-item-detail">
          <div class="case-item-detail-title">天津四校联会暨实华模拟联合国大会</div>
          <div class="case-item-detail-desc">天津实验中学，天津市第 47 中学等学校联合举办</div>
        </div>
      </a>
      <a href="https://www.itypen.com" target="_blank" rel="nofollow" class="mdui-col case-item mdui-ripple">
        <img class="case-item-logo" src="https://imgur.itypen.com/picgo/20190625163454.jpg">
        <div class="case-item-detail">
          <div class="case-item-detail-title">城市记忆</div>
          <div class="case-item-detail-desc">城市记忆专题画册</div>
        </div>
      </a>
    </div>
  </div>
</div>

<style>
  .cp-theme-blue .mdui-color-theme {
    color: #f1efe0 !important;
    background-color: #174c81 !important
  }
</style>