<div class="padding-70"></div>
<div class="photograph-header">
    <div class="padding-70"></div>
    <div class="header mdui-center" style="height: 250px; max-width: 800px; background-size: cover; background-image: url(https://imgur.itypen.com/picgo/20190524175214.svg)">
        <div class="padding-70"></div>
        <div class="mdui-typo-display-1 mdui-text-center" style="color: #5588a3">寻找是唯一的解药</div>
        <div class="padding-15"></div>
        <button class="mdui-btn mdui-btn-raised mdui-center" style="border-radius:20px;">More</button>
    </div>
    <div class="padding-70"></div>
</div>
<div class="mdui-container">
    <div class="mdui-row">
        <div class="mdui-row-xs-1 mdui-row-sm-2 mdui-row-md-2 mdui-row-lg-4 mdui-grid-list">
            <% for (var p in site.data.image) { %>
            <a href="<%- site.data.image[p].link %>">
                <div class="mdui-col">
                    <div class="mdui-grid-tile">
                        <div class="mdui-card">
                            <div class="mdui-card-media"
                                style="background-position: 50% 50%; height: 233px; background-size: cover; background-image: url(<%- site.data.image[p].src %>">
                                <div class="mdui-card-media-covered mdui-card-media-covered-gradient">
                                    <div class="mdui-card-primary">
                                        <div class="mdui-card-primary-title"><%- p %></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <% } %>
        </div>
    </div>
</div>
<div class="padding-70"></div>