<%
    var title = '';
    if (page.category) title = page.category;
    if (page.tag) title = "#" + page.tag;
    if (page.archive) {
        if (page.year) title = page.year + (page.month ? '/' + page.month : '');
        else title = __('archive_a');
    }
%>
<div class="mdui-container">
  <div class="content-area">
    <div class="mdui-row">
      <div class="mdui-col-md-1 mdui-col-xs-down"></div>
      <div class="mdui-col-md-10 mdui-col-xs-12">
        <div class="mdui-card itp-post-card">
          <div class="itp-post-title itp-post-title_no_cover title">
            <%- title %>
          </div>
          <section class="mdui-card-content article itp-page-content" role="article">
            <% var groupObj = _.groupBy(page.posts.toArray(), function(p){return -p.date.format('YYYY')}) %>
            <% for (var year in groupObj){ %>
            <ul class="itp-category-list">
              <%- partial('_partial/article-archive', {posts: groupObj[year]}) %>
            </ul>
            <% } %>
          </section>
          <%- partial('_partial/index-pagination') %>
        </div>
      </div>
      <div class="mdui-col-md-1 mdui-col-xs-down"></div>
    </div>
  </div>
</div>