<div class="itp-post-author">
  <div class="itp-post-author-avatar">
    <img src="https://imgur.lzmun.com/picgo/20200207210638.jpg_avatar">
  </div>
  <div class="itp-post-author-title">aiokr</div>
  <p class="itp-post-author-descr">
    🏳‍🌈 我想 左肩有你 右肩微笑<br />
    🏳‍🌈 我想 在你眼里 撒野奔跑<br />
    🏳‍🌈 我想 一个眼神 就到老
  </p>
</div>