<!-- Footer -->
<footer class="site-info noprn" style="color: #e5e5e5">
  <div class="padding-15"></div>
  <div class="mdui-container" style="padding-left: 15px; padding-right: 15px;">
    <div class="padding-25"></div>
    <div class="mdui-row mdui-text-left">
      <div class="mdui-col-md-3 mdui-col-xs-12" style="padding-bottom: 20px;">
        <div class="mdui-typo-title-opacity">
          关于
        </div>
        <div class="padding-15"></div>
        <div class="mdui-typo-body-1">
          <%- config.title %> &copy; 2016 - <%= (new Date()).getFullYear() %>
        </div>
        <% if(config.footer !== null) { %>
        <div class="mdui-typo-body-1">
          <div class="padding-15"></div>
          <%- config.footer || theme.footer %>
        </div>
        <% } %>
        <div class="padding-15"></div>
        <a href="https://travis-ci.org/aiokr/iTypen-Hexo" target="_blank">渲染状态</a>&nbsp;&nbsp;<a href="https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fblog.itypen.com%2F&tab=desktop" target="_blank">速度测试</a>
      </div>
      <div class="mdui-col-md-3 mdui-col-xs-12" style="padding-bottom: 20px;">
        <div class="mdui-typo-title-opacity">
          信息
        </div>
        <div class="padding-15"></div>
        <div class="mdui-typo-body-1">
          总字数
          <%- symbolsCountTotal(site) %>
        </div>
        <div class="mdui-typo-body-1">
          <br />
          总人数 <span id="busuanzi_container_site_uv"><span id="busuanzi_value_site_uv"></span></span>
        </div>
        <div class="mdui-typo-body-1">
          <br />
          总次数 <span id="busuanzi_container_site_pv"><span id="busuanzi_value_site_pv"></span></span>
        </div>
      </div>
      <div class="mdui-col-md-3 mdui-col-xs-12" style="padding-bottom: 20px;">
        <div class="mdui-typo-title-opacity">
          备案信息
        </div>
        <div class="mdui-typo-body-1">
          <br />
          <a href="http://www.beian.miit.gov.cn">桂ICP备17001361号</a>
        </div>
      </div>
      <div class="mdui-col-md-3 mdui-col-xs-12" style="padding-bottom: 20px;">
        <div class="mdui-typo-title-opacity">
          CDN
        </div>
        <div class="padding-15"></div>
        <a href="https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral" target="_blank"><img class="upyun-img"
            src="https://imgur.itypen.com/picgo/20190506220004.png_itp"></a>
      </div>
    </div>
    <div class="mdui-row">
      <div class="upyun">

      </div>

    </div>
    <div class="padding-15"></div>
  </div>
</footer>