<!-- Footer -->
<footer class="site-info noprn" style="color: #e5e5e5">
  <div class="mdui-container-fluid">
    <div class="mdui-row">
      <div class="mdui-col-md-4"></div>
    </div>
    <div class="mdui-row">
      <div class="upyun">
        <a href="https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral" target="_blank"><img class="upyun-img"
            src="https://imgur.itypen.com/picgo/20190506220004.png"></a>
      </div>
      <span><%- config.title %> &copy; 2016 - <%= (new Date()).getFullYear() %></span>
      <% if(config.footer !== null) { %>
      <span class="split">|</span>
      <span><%- config.footer || theme.footer %></span>
      <% } %>
      <span><%- symbolsCountTotal(site) %></span>
    </div>
    <div class="padding-15"></div>
  </div>
</footer>