<!-- Footer -->
<footer class="site-info noprn" style="color: #e5e5e5">
  <div class="padding-15"></div>
  <div class="mdui-container">
    <div class="mdui-row mdui-text-left">
      <div class="mdui-col-md-3 mdui-col-xs-12">
        <div class="mdui-typo-title ">
          关于
        </div>
        <div class="padding-15"></div>
        <div class="mdui-typo-body-1">
          <%- config.title %> &copy; 2016 - <%= (new Date()).getFullYear() %>
        </div>
        <% if(config.footer !== null) { %>
        <div class="mdui-typo-body-1">
          <br />
          <%- config.footer || theme.footer %>
        </div>
        <% } %>
      </div>
      <div class="mdui-col-md-3 mdui-col-xs-12">
        <div class="mdui-typo-title ">
          信息
        </div>
        <div class="padding-15"></div>
        <div class="mdui-typo-body-1">
          总字数
          <%- symbolsCountTotal(site) %>
        </div>
        <div class="mdui-typo-body-1">
          <br />
          总人数
        </div>
        <div class="mdui-typo-body-1">
          <br />
          总次数 <span id="busuanzi_container_site_pv"><span id="busuanzi_value_site_pv"></span></span>
        </div>
      </div>
      <div class="mdui-col-md-3 mdui-col-xs-12">3</div>
      <div class="mdui-col-md-3 mdui-col-xs-12">
        <div class="mdui-typo-title">
          合作伙伴
        </div>
        <a href="https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral" target="_blank"><img class="upyun-img"
            src="https://imgur.itypen.com/picgo/20190506220004.png"></a>
      </div>
    </div>
    <div class="mdui-row">
      <div class="upyun">

      </div>

    </div>
    <div class="padding-15"></div>
  </div>
</footer>