$dark-bg-color: #212121;
$dark-card-color: #424242;
$dark-title-color: #ffffff;
$dark-subtitle-color: #bdbdbd;
$dark-blue: #03A9F4;
$dark-green: #1db954;
$dark-lightgreen: #49b683;
$dark-yellow: #feda7a;

body,
.itp-drawer,
.mdui-chip {
  background-color: $dark-bg-color !important;
}

.itp-index-title,
.itp-index-header,
.itp-index-header-title,
.itp-post-title,
.itp-post-index-title,
.itp-post-index-title a .itp-link .mdui-card-header-title,
.itp-search .mdui-textfield-input,
.itp-search .mdui-list-item a,
.mdui-list-item-title {
  color: $dark-title-color !important;
}

.article p,
.itp-toc span,
.mdui-chip a,
.itp-header-actions,
.itp-drawer-title,
.itp-index-subtitle,
.itp-post-subtitle,
.itp-post-index-categories,
.itp-post-index-subtitle,
.itp-post-index-excerpt,
.itp-post-index-excerpt a,
.itp-link .mdui-card-header-subtitle,
.itp-search .mdui-textfield-label,
.mdui-list-item-text,
.itp-page-select-prev a,
.itp-page-select-next a {
  color: $dark-subtitle-color !important;
}

.itp-post-card,
.itp-index-card {
  background-color: $dark-card-color;
}

img {
  filter: brightness(.8);
}


.itp-drawer-description,
.itp-index-header-description {
  color: #e3e3e3;
}

.itp-post-index {
  background-color: $dark-card-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  filter: invert(1) hue-rotate(180deg);
}

.itp-search {
  .mdui-textfield-input {
    border-bottom: 1px solid $dark-subtitle-color;
  }
}