$main-color: #53bbf4;
$black: #222831;
$grey: #767676;
$deep-grey: #333333;
$progress-color: #cccfd7;

/*
网站全灰

html {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
*/

#content_progress {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  color: $progress-color;
}

#content_progress::-webkit-progress-bar {
  background-color: transparent;
}

#content_progress::-webkit-progress-value {
  background-color: $progress-color;
}

#content_progress::-moz-progress-bar {
  background-color: $progress-color;
}

body {
  background-color: #f8f9fa !important;
  font-family: "SF UI Display", ".PingFang SC", "PingFang SC", "Neue Haas Grotesk Text Pro", "Arial Nova", "Segoe UI", "Microsoft YaHei", "Microsoft JhengHei", "Helvetica Neue", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "Helvetica", "Hiragino Sans GB", sans-serif;
}

body ::selection {
  background: $main-color;
  color: #fff;
}

body ::-moz-selection,
body ::-webkit-selection {
  background: $main-color;
  color: #fff;
}

.nodisplay {
  display: none;
}

.display {
  display: inline;
}

.toc-display {
  display: block;
}

.padding-70 {
  padding-top: 70px;
}

.padding-15 {
  padding-top: 15px;
}

.padding-25 {
  padding-top: 25px;
}

.itp-index-card {
  top: -40vh;

  @media (min-width: 816px) {
    margin: 70px 0 0 0;
    -webkit-box-shadow: 0 30px 50px 0 rgba(1, 1, 1, .15);
    box-shadow: 0 30px 50px 0 rgba(1, 1, 1, .15);
  }

  @media (max-width: 816px) {
    margin: 70px 0 0 0;
    -webkit-box-shadow: 0 0 0 0 rgb(255, 255, 255);
    box-shadow: 0 0px 0px 0px #fff !important;
  }
}

.itp-index-title {
  font-size: 2.6rem;

  @media (min-width: 816px) {
    padding: 70px 12% 16px 12%;

  }

  @media (max-width: 816px) {
    padding: 25px 16px 4px 16px;
  }
}

.itp-index-subtitle {


  @media (min-width: 816px) {
    padding: 0 12% 8px 12%;
    font-size: 1.6rem;
    line-height: 1.8rem;
  }

  @media (max-width: 816px) {
    padding: 16px 16px 8px 16px;
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
}

.itp-index-header-action {
  font-size: 1.4rem;
  line-height: 1.6rem;

  @media (min-width: 816px) {
    padding: 8px 12% 16px 12%;
  }

  @media (max-width: 816px) {
    padding: 4px 16px 4px 16px;
  }
}

.itp-index-content {
  @media (min-width: 816px) {
    padding: 0 12% 0 12%;

  }

  @media (max-width: 816px) {
    padding: 0 16px 0 16px;
  }
}

.itp-post-index-title {
  color: $black;
  font-weight: Medium;

  a {
    color: $black;
    text-decoration: none;
    transition: .2s, ;
  }

  a:hover {
    color: $main-color;
    transition: .2s, ;
  }

  @media (min-width: 816px) {
    font-size: 32px;
    line-height: 2.5rem;
  }

  @media (max-width: 816px) {
    font-size: 28px;
    line-height: 32px;
  }
}

.itp-post-index-subtitle {
  color: $grey !important;
  font-size: 16px;
  padding: 16px 0;

  a {
    color: $grey;
    text-decoration: none;
  }
}

.itp-post-index-moment {
  color: $black;
  font-size: 26px;
  line-height: 2rem;
}

.itp-index-header_default {
  .itp-index-header-title {
    color: $black;
    font-size: 28px;
  }

  .itp-index-header-description {
    color: $black;
  }
}

.itp-index-header-card_style {
  @media screen and (max-width: 816px) {
    padding-top: 60px;
  }

  @media screen and (min-width: 816px) {
    padding-top: 70px;
  }

  .itp-header-img {
    height: 336px;
    border-radius: 0px;
    object-fit: cover;
  }
}

.itp-post-index-hero {
  .mdui-card-primary-title {
    a {
      color: #fff !important;
      opacity: .87 !important;
    }
  }

  .mdui-card-primary-subtitle {
    a {
      color: #fff !important;
      opacity: .87 !important;
    }
  }
}

.itp-post-index {
  margin-top: 30px;
}

.itp-post-index-categories {
  color: $grey !important;
}

.itp-post-index-excerpt {
  a {
    color: $black;
    text-decoration: none;
    letter-spacing: .4px;
  }

  font-size: 16px;
  line-height: 22px;
}

.itp-index-header_material {
  @media screen and (max-width: 768px) {
    padding-top: 65px;
  }
}

.index-pagination {

  padding: 100px 0 70px 0;
  text-align: center;

  .index-pagination-btn {
    max-width: 168px;
    background-color: $deep-grey;
    transition: .15s;
    color: #fff;
    padding: 10px 60px 10px 60px;
    margin: 0 auto;

    @media screen and (max-width: 480px) {
      padding: 10px 40px 10px 40px;
    }

    @media screen and (max-width: 320px) {
      padding: 10px 20px 10px 20px;
    }
  }

  .index-pagination-btn:hover {
    transition: .15s;
    -webkit-box-shadow: 0 15px 25px 0 rgba(131, 131, 131, 0.35);
    box-shadow: 0 15px 25px 0 rgba(131, 131, 131, 0.35);
  }

  .index-pagination-btn:active {
    background-color: $deep-grey;
  }
}

.itp-top-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50vh;
  min-height: 50vh;
}

.itp-category-list {
  font-size: 16px;
  line-height: 1.8em;
  list-style-type: none;
}

@media print {
  .itp-post-card {
    box-shadow: 0 0px 0px 0px #fff !important;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 816px) {
  .itp-post-card {
    box-shadow: 0 0px 0px 0px #fff !important;
  }

  .itp-index-header_material {
    padding-top: 65px;
  }
}

@media screen and (min-width: 816px) {
  .itp-post-card {
    -webkit-box-shadow: 0 30px 50px 0 rgba(1, 1, 1, .15);
    box-shadow: 0 30px 50px 0 rgba(1, 1, 1, .15);
  }
}

.itp-page-select {
  padding: 20px 20px 20px 20px;

  a {
    color: #000 !important;
  }
}

.category-link {
  color: #767676;
}

.categories a {
  padding: 0 5px 0 0;
  font-size: 16px;
  line-height: 1.8em;
}

strong,
b {
  color: $main-color;
  font-weight: bold;
}

em,
i {
  color: $main-color;
  font-style: italic;
}

a {
  color: $main-color;
  text-decoration: none;
}

.cdn-img {
  max-height: 40px !important;
}

.upyun {
  margin: 20px auto;
}

@media (min-width: 48.1875rem) {
  .photograph-header {
    max-width: 800px;
    background-size: cover;
    background-image: url(https://imgur.itypen.com/picgo/20190524175214.svg)
  }
}

@media print {
  .noprn {
    display: none;
  }
}

.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
}

.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.itp-footer {

  position: relative;
  bottom: 200px;

  .footer-info,
  a {
    color: $grey;
  }

  .footer-logo {
    padding: 10px 0 0 0;
  }
}


.drawer-spacer {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.itp-index-notice {
  background-color: #ede59a !important;
}

.mdui-textfield {
  color: #2196f3 !important;
  border-bottom-color: #2196f3 !important;
}

.mdui-textfield-focus .mdui-textfield-label {
  color: #2196f3 !important;
}

.mdui-textfield-focus .mdui-textfield-input {
  color: #2196f3 !important;
  border-bottom-color: #2196f3 !important;
  box-shadow: 0 1px 0 0 #2196f3 !important;
}

.mdui-textfield-input:hover {
  border-bottom-color: #2196f3 !important;
  box-shadow: 0 1px 0 0 #2196f3 !important;
  -webkit-box-shadow: 0 1px 0 0 #2196f3 !important;
}

.mdui-chip {
  margin-right: 5px;

  a {
    color: $black;
  }
}

.itpAntv {
  text-align: center;

  canvas {
    max-width: 100%;
    height: auto;
  }
}