.itp-appbar {
  
  -webkit-backdrop-filter: blur(15px); 
  backdrop-filter: blur(15px); 
}

.itp-appbar_index {
}


.itp-appbar-color {
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(15px); 
  backdrop-filter: blur(15px); 
}

.itp-drawer-icon {
  color: $main-color !important;
}

.itp-header-actions {
  @media (max-width: 816px) {
    display: none;
  }

  @media (min-width: 816px) {

    position: relative;
    display: inline-block;
    min-width: 60px;
    height: 36px;
    padding: 0 12px;
    margin: 0;
  }
}

.itp-header-actions_menu {
  @media (min-width: 816px) {
    display: none;
  }

  @media (max-width: 816px) {
    display: inline;
  }
}