.padding-70 {
  padding-top: 70px;
}

.padding-15 {
  padding-top: 15px;
}

.padding-25 {
  padding-top: 25px;
}

body {
  font-display: swap;
}

p {
  margin: 1.5em 0px !important;
  font-size: 16px !important;
  color: #222831;
  line-height: 1.8em;
  letter-spacing: 0.1em;

  img {
    border-radius: 5px;
  }
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

blockquote,
q {
  border-left: 2px solid #2196f3;
  padding: 0 10px;
  color: #777;
  quotes: none;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.upyun-img {
  max-height: 40px !important;
}

.upyun {
  margin: 20px auto;
}

@media (min-width: 48.1875rem) {
  .photograph-header {
    max-width: 800px;
    background-size: cover;
    background-image: url(https://imgur.itypen.com/picgo/20190524175214.svg)
  }
}

@media print {
  .noprn {
    display: none;
  }
}

.post-content p img {
  display: block;
  margin: 0 auto;
}

.post-nav {
  height: 150px;

  a {
    color: white;
  }

  img {
    border-radius: 0px !important;
  }

  background-size: cover;
  background-position: 50% 50%;

}

.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
}

.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

footer {
  background-color: #424242;
  width: 100% !important;

  h1 {
    color: #eee;
  }
}

.search-header {
  background-size: cover;
  background-image: url(https://imgur.itypen.com/picgo/20190524175214.svg);
  height: 250px;
  width: auto;
}

.drawer-spacer {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.itp-toc {
  padding: 24px;

  span {
    color: #222831;
  }

  li,
  ol {
    list-style-type: none;
  }

  li {
    padding: 6px 0 6px 0;

    ol {
      padding: 3px 0 3px 0;
    }
  }
}

.category-link {
  text-decoration: none;
  padding: 1px 9px 1px 9px;
  margin: 9px 1px;
  line-height: 40px;
  white-space: nowrap;
  transition: .6s;
}

.mdui-textfield {
  color: #2196f3 !important;
  border-bottom-color: #2196f3 !important;
}

.mdui-textfield-focus .mdui-textfield-label {
  color: #2196f3 !important;
}

.mdui-textfield-focus .mdui-textfield-input {
  color: #2196f3 !important;
  border-bottom-color: #2196f3 !important;
  box-shadow: 0 1px 0 0 #2196f3 !important;
}

.mdui-textfield-input:hover {
  border-bottom-color: #2196f3 !important;
  box-shadow: 0 1px 0 0 #2196f3 !important;
  -webkit-box-shadow: 0 1px 0 0 #2196f3 !important;
}

/* ======================================= 首屏 */
.main-section {
  background: url(../images/section-background.svg) 50% 17vh no-repeat;
}
.mdui-theme-layout-dark .main-section {
  background-color: #444444 !important;
}
.main-container {
  text-align: center;
  padding-top: 56px;
}
.main-container h2 {
  color: #fff !important;
  padding-top: 48px;
  margin: 0 0 24px 0;
  font-size: 28px;
  font-weight: 400;
  text-align: center !important;
}
.main-container h4 {
  color: #fff !important;
  font-weight: 400;
  font-size: 22px;

  text-align: center !important;
}
.main-btn-wrapper {
  margin: 60px 0 20px 0;
}
.main-btn {
  border: 1px solid rgba(255, 255, 255, .6);
  color: rgba(255, 255, 255, .6);
  border-radius: 500px;
  height: 36px;
  line-height: 36px;
  width: 112px;
  font-size: 14px;
}
.main-btn:hover {
  border: 1px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, .9);
}

.main-meta-wrapper {
  line-height: 40px;
  height: 40px;
}

.main-meta-item {
  position: relative;
  margin: 0 3px;
  line-height: 36px;
  display: inline-block;
}

.main-meta-item i {
  float: left;
  margin-right: 4px;
}

.main-meta-btn {
  color: inherit;
  text-decoration: none;
}

.main-meta-btn:hover {
  text-decoration: underline;
}

/* 响应式 */
@media (min-width: 600px) {
  .main-container {
    padding-top: 60px;
  }
  .main-container h2 {
    padding-top: 72px;
    margin-bottom: 36px;
    font-size: 32px;
  }
  .main-btn-wrapper {
    margin: 76px 0 26px 0;
  }
  .main-btn {
    height: 42px;
    line-height: 42px;
    width: 128px;
    font-size: 16px;
  }

  .main-meta-wrapper {
    line-height: 50px;
    height: 50px;
  }

  .main-meta-item {
    margin: 0 5px;
  }
}
@media (min-width: 1024px) {
  .main-container {
    padding-top: 64px;
  }
  .main-container h2 {
    padding-top: 96px;
    margin-bottom: 48px;
    font-size: 36px;
  }
  .main-btn-wrapper {
    margin: 92px 0 38px 0;
  }
  .main-btn {
    height: 48px;
    line-height: 48px;
    width: 144px;
    font-size: 18px;
  }

  .main-meta-wrapper {
    line-height: 64px;
    height: 64px;
  }

  .main-meta-item {
    margin: 0 8px;
  }
}

/* ======================================= 第二屏 */
.adv-section {
  margin: 44px 0;
}
.adv-item {
  padding: 16px 0;
  height: 88px;
}
.adv-item-icon {
  float: left;
}
.adv-item-icon:before {
  font-size: 24px;
}
.adv-item-detail {
  padding-left: 38px;
}
.adv-item-detail-title {
  height: 24px;
  line-height: 24px;
  font-weight: bold;
}
.adv-item-detail-desc {
  padding-top: 12px;
  font-size: 14px;
  line-height: 26px;
}

@media (min-width: 600px) {
  .adv-section {
    margin: 52px 0;
  }
  .adv-item {
    padding: 24px 0;
    height: 94px;
  }
  .adv-item-icon:before {
    font-size: 28px;
  }
  .adv-item-detail {
    padding-left: 42px;
  }
  .adv-item-detail-title {
    height: 28px;
    line-height: 28px;
  }
  .adv-item-detail-desc {
    padding-top: 14px;
  }
}
@media (min-width: 1024px) {
  .adv-section {
    margin: 60px 0;
  }
  .adv-item {
    padding: 32px 0;
    height: 100px;
  }
  .adv-item-icon:before {
    font-size: 32px;
  }
  .adv-item-detail {
    padding-left: 46px;
  }
  .adv-item-detail-title {
    height: 32px;
    line-height: 32px;
  }
  .adv-item-detail-desc {
    padding-top: 16px;
  }
}
