

.post {
  .nav-links {
    a {
      text-decoration: none;
      color: #3a3a3a;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      font-family: -apple-system, BlinkMacSystemFont,"Helvetica Neue","PingFang-SC-Regular","STHeiti", "Helvetica","Arial","Verdana","sans-serif","Microsoft YaHei";
      font-size: 0.750em;
    }
    .nav-previous {
      position: fixed;
      bottom: 64px;
      left: 50px;
      z-index: 29;
    }
    .nav-next {
      position: fixed;
      bottom: 64px;
      right: 50px;
      z-index: 29;
    }
  }
}