<div class="mdui-container">
    <div class="mdui-row">
        <div class="mdui-col-xs-offset
                    mdui-col-sm-1
                    mdui-col-md-2
                    mdui-col-lg-2"></div>
        <div class="mdui-col-xs-12
                    mdui-col-sm-10
                    mdui-col-md-8
                    mdui-col-lg-8">
            <div>
                    <div class="padding"></div>

                <div class="mdui-card opacity">
                    <div class="mdui-card-primary">
                        <div class="mdui-card-primary-title mdui-text-center">组织团队报名通道</div>
                        <div class="mdui-card-primary-subtitle mdui-text-center">Organization team registration channel</div>
                    </div>
                    <div class="mdui-row-xs-3">
                        <div class="mdui-col">
                            <a class="mdui-btn mdui-btn-block mdui-ripple">组委团队</a>
                        </div>
                        <div class="mdui-col">
                            <a class="mdui-btn mdui-btn-block mdui-ripple">学术团队</a>
                        </div>
                        <div class="mdui-col">
                            <a class="mdui-btn mdui-btn-block mdui-ripple">志愿者</a>
                        </div>
                    </div>
                </div>
                <div class="padding"></div>
                <div class="mdui-card opacity">
                    <div class="mdui-card-primary">
                        <div class="mdui-card-primary-title mdui-text-center">代表报名通道</div>
                        <div class="mdui-card-primary-subtitle mdui-text-center">Delegate registration channel</div>
                    </div>
                    <div class="mdui-row-xs-2">
                        <div class="mdui-col">
                            <a class="mdui-btn mdui-btn-block mdui-ripple">团队代表</a>
                        </div>
                        <div class="mdui-col">
                            <a class="mdui-btn mdui-btn-block mdui-ripple">个人代表</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>