@font-face{
    font-family: 'Product';
    src: url("/fonts/productsans.ttf"); 

}

.padding{
    padding: 35px
}

.padding-25{
    padding: 25px
}

.padding-15{
    padding: 15px
}

.index-logo-text{
    font-family: Product;
    font-size: 48px;
}

.feed-header{
    border-top: 4px solid #4285f4;
    padding: 20px 0;
}

.feed-title{
    font-family: 'Product,Roboto,Noto,Helvetica,Arial,sans-serif';
    display: inline-block;
    float: left;
    line-height: 36px;
    font-size: 24px;
    padding-top: 15px;
    color: #757575;
}

.feed-subtitle{
    font-family: 'Product';
    display: inline-block;
    float: right;
    line-height: 36px;
    font-size: 18px;
    padding-top: 15px;
    color: #4285f4;
}

.index-feed-card{
    padding: 0 0 0 0;
}

.index-feed-content{
    padding-top: 5px;
    padding-right: 0;
    padding-left: 0;
}

/*
.mdui-appbar{
    background-color: #ffffff;
}
*/