<% var toc = toc(page.content, {
  class: 'itp-toc',
  list_number: false,
}) %>
<% if(toc.length > 0) { %>
<div style="position: fixed;">
  <div class="">
    <div>
      <%-(toc) %>
    </div>
  </div>
</div>
<% } %>